* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  p{
    color: rgb(116, 114, 114);
    font-size: 18px;
  }
 .detpage{
    display: block;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 4.5vh;
    display: flex;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
.detimg{
    height: 100%;
}
.detcar{
    margin-top: 2vh;
    margin-left: 2%;
    width:25%;
    height: 32vh;
}
.detcontent{
    margin-top: 1vh;
    padding-top: 3vh;
    margin-left: 4%;
    margin-right: 2%;
}
.atcbtn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  height: 10vh;
  max-height: 40px;
  width: 35vw;
  max-width: 200px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border:none;
}
.atcbtn:hover {
  background: linear-gradient(
    to right,
    #d4af37,
    #f9f095,
    #d4af37,
    #f9f095,
    #d4af37
  );
  color: black;
  cursor: pointer;
  font-weight: bold;
}