.cartcontent{
    display: flex;
    width:100%;
}
.cartlists{
    width:75%;
}
.placeorder{
    width:25%;
    background-color: black;
    height: 100vh;
    padding: 10vh 20px 10vh 20px;
    position: fixed;
    margin-left: 75%;
    text-align: center;
}

.placeorder h3,.placeorder h2{
    color: white;
}
.placeorder textarea,.placeorder input{
    width: 80%;
    padding-left: 10px;
    font-size: 16px;
}
.placeorder textarea{
    height: 30vh;
    padding-top: 1vh;
}
.placeorder input{
    height: 7vh;
}


.cartbox{
    display: flex;
    width:60%;
    margin-left: 20%;
    height:auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    margin-top: 2vh;
}
.cartimg{
    height: 17vh;
    margin: 2%;
    width:10vw;
}
.cartimg img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.cartboxcontent{
    margin-left: 10%;
    width:80%;
    margin-top: 3vh;
}
.cartboxcontent table{
    width:100%;
}
.cartboxcontent table th b{
    font-size: 24px;
}
.cartbtn,.cartbtn2 {
    color: white;
    text-decoration: none;
    font-size: 18px;
    height: 10vh;
    max-height: 40px;
    width: 35vw;
    max-width: 200px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border:none;
  }
  .cartbtn:hover {
    background: linear-gradient(to right,#d4af37,#f9f095,#d4af37);
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  .cartbtn2 {
    background: linear-gradient(to right,#d4af37,#f9f095,#d4af37);
    color: black;
  }
  .cartbtn2:hover{
      cursor: pointer;
      font-weight: bold;
  }

@media screen and (max-width:780px) {
    .cartbox{
        width:96%;
        margin-left: 2%;
        height: 40vh;
    }
    .cartimg{
        height: 34vh;
        margin-top: 3vh;
        width: auto;
    }
    
}