.cartcontent{
    display: flex;
    width:100%;
}
.cartlists{
    width:75%;
}
.placeorder{
    width:25%;
    border: 1px solid grey;
    height: 100vh;
    padding: 10vh 20px 10vh 20px;
    position: fixed;
    margin-left: 75%;
    text-align: center;
}
.placeorder textarea,.placeorder input{
    width: 80%;
    padding-left: 10px;
    font-size: 16px;
}
.placeorder textarea{
    height: 30vh;
    padding-top: 1vh;
    resize: none;
}
.placeorder input{
    height: 7vh;
}
.cartbox{
    display: flex;
    width:60%;
    margin-left: 20%;
    height:auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    margin-top: 2vh;
}
.cartimg img{
    height: auto;
    max-height: 20vh;
    width: auto;
    max-width: 90%;
    border-radius: 5px;
}
.cartboxcontent{
    margin: 2%;
    width:80%;
    position: relative;
    align-self: center;
}
.cartboxcontent table{
    width:100%;
}
.cartbtn,.cartbtn2 {
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 8vh;
    max-height: 40px;
    width: 30vw;
    max-width: 120px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border:none;
    font-weight: bold;
}
.cartbtn:hover {
background: linear-gradient(to right,#d4af37,#f9f095,#d4af37);
color: black;
cursor: pointer;
}
.cartbtn2 {
background: linear-gradient(to right,#d4af37,#f9f095,#d4af37);
color: black;
}
.cartbtn2:hover{
    cursor: pointer;
    font-weight: bold;
}
.fa-trash{
    cursor: pointer;
}
.cartquantity{
    width: 35px;
    height: 35px;
    font-size: 16px;
}

@media screen and (max-width:780px) {
    .cartlists{
        width: 100%;
    }
    .cartbox{
        width:96%;
        margin-left: 2%;
        height: auto;
    }
    .cartimg img{
        height: auto;
        max-height: 40vh;
        width: auto;
        max-width: 90%;
        border-radius: 5px;
    }
    .cartboxcontent{
        margin: 2%;
        width:100%;
        position: relative;
        align-self: center;
    }
    .placeorder{
        display: none;
        /*bottom: 0;
        width: 100%;*/
    } 
}