.homecontent{
    display: block;
    background-color: white;
}
.home{
    width: 100%;
    display: flex;
    height: auto;
}
.category{
    width: 15%;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top:8vh;
}
.content{
    width: 85%;
    margin-top: 10vh;
    font-size: 16px;
}
.cont1{
    width: 100%;
}
.cont2{
    width: 96%;
    margin-left: 2%;
}
.homefooter{
    width:100%;
}
.fa-comment-dots{
    color: black;
}
.sarrow{
    visibility: hidden;
}
.showcategory,.fa-chevron-circle-left,.fa-chevron-circle-right{
    visibility: hidden;
    position: absolute;
}
.hidecategory{
    display: none;
}
@media screen and (max-width: 780px) {
    .category{
        display: none;
    }
    .showcategory{
        z-index:5;
        width:70%;
        position: absolute;
        background-color:rgba(0, 0, 0, 1);
        margin-top:8vh;
        visibility: visible;
    }
    .content{
        margin-left: 0;
        width: 100%;
        margin-top: 8vh;
        font-size: 14px;
    }
    .sarrow{
        visibility: visible;
    }
    .fa-chevron-circle-right{
        position: fixed;
        top:47vh;
        left: 1vw;
        visibility: visible;
        font-size: 30px;
    }
    .fa-chevron-circle-left{
        position: fixed;
        top:47vh;
        left:70vw;
        font-size: 30px;
        visibility: visible;

    }
    .hidecategory{
        display: none;
    }
}