.page{
    display: block;
}
.home{
    width: 100%;
    display: flex;
    height: auto;
}
.filter{
    width: 15%;
    margin-top:8vh;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}
.categorycontent{
    width: 96%;
    margin-top: 10vh;
    margin-left: 2%;
    margin-right: 2%;
}
.farrow{
    visibility: hidden;
}
.showfilter,.fa-chevron-circle-left,.fa-chevron-circle-right{
    visibility: hidden;
    position: absolute;
}
.hidefilter{
    display: none;
}
@media screen and (max-width: 780px) {
    .filter{
        display: none;
    }
    .showfilter{
        width:70%;
        position: absolute;
        background-color:rgba(0, 0, 0, 1);
        margin-top:8vh;
        visibility: visible;
        color: white;
    }
    .categorycontent{
        margin-left: 0;
        width: 100%;
        margin-top: 8vh;
    }
    .fa-chevron-circle-right,.fa-chevron-circle-left{
        position: fixed;
        top:47vh;
        visibility: visible;
        font-size: 30px;
    }
    .fa-chevron-circle-right{
        left: 1vw;
    }
    .fa-chevron-circle-left{
        left:70vw;
    }
    .hidefilter{
        display: none;
    }
}