.catitems{
    color: white;
    padding-left: 10%;
}
.catitems h2{   
    padding: 5%;
}
.catitems hr{   
    margin-right: 10%;
}
.catimg{
    margin-top: 1.5vh;
    height: 15vh;
    width:90%;
    border: 4px solid white;
    border-radius: 5px;
    background-size: 100% 100%; 
    padding-top: 20%;
    text-decoration: none;
    color: white;
    text-align: center;
}

.catimg:hover{
    cursor: pointer;
    text-decoration: underline;
}
#one{background-image: url(../imgs/category/mencloth.JPG); }
#two{background-image: url(../imgs/category/womencloth.JPG);}
#three{background-image: url(../imgs/category/kids.JPG);}
#four{background-image: url(../imgs/category/menacc.JPG);}
#five{background-image: url(../imgs/category/womenacc.JPG);}
#six{background-image: url(../imgs/category/kidsacc.JPG);}
#seven{background-image: url(../imgs/category/menshoe.JPG);}
#eight{background-image: url(../imgs/category/womenshoe.JPG);}
#nine{background-image: url(../imgs/category/kidsshoes.JPG);}
@media screen and (max-width: 780px) {
    .catimg {
        height:15vh;
        margin-top: 2vh;
        padding-top: 15%;
    }
    h3{
        font-size: 16px;
    }
    #nine{
        margin-bottom: 15vh;
    }
}