.othercat{
    color: white;
    padding-left: 10%;
    padding-bottom:3vh;
}
.othercat h2{
    padding: 5%;
}
.othercat hr{
margin-right: 10%;
}
.othercat h3{
    padding-left: 10%;
    color: white;
    text-decoration: none;
}
.othercat h3:hover{
    text-decoration: underline;
    cursor:pointer;
}