.homecontent{
    display: block;
    background-color: white;
}
.home{
    width: 100%;
    display: flex;
    height: auto;
}
.category{
    width: 15%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    height: 92vh;
    margin-top:8vh;
}
.content{
    margin-left: 15%;
    width: 85%;
    margin-top: 8vh;
    font-size: 16px;
}
.cont1{
    width: 100%;
}
.cont2{
    width: 90%;
    margin-left: 5%;
}

@media screen and (max-width: 780px) {
    .category{
        display: none;
    }
    .content{
        margin-left: 0;
        width: 100%;
    }
}