*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
    background: linear-gradient(
        to right,
        #d4af37,
        #f9f095,
        #d4af37,
        #f9f095,
        #d4af37
      );
    color: white;
    z-index:5;
}
.logo{
    width: 12%;
    height:7vh;
    margin-left: 2%;
}

.search{
    width: 40%;
    margin-left: 27%;
    height: 4.5vh;
    padding-left: 15px;
    font-size: 2vh;
    border: 0;
    border-radius: 2vh;
}
.search:hover{
    border:1px solid #96640d;
    height: 4.5vh;
    border-radius: 2vh;
    
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width:60%;
    margin-right: 2%;
}
.profile,.notify,.cart,.logout{
    text-decoration: none;
    color: black;
    font-size: 2.8vh;
    padding: 10px 10px;
    margin: 0 10px;
    cursor: pointer;
}
.profile:hover,.notify:hover,.cart:hover,.logout:hover{
    background-color: #d4af37;
    transition: all 0.4s ease-out;
}

.moblink{
    visibility: hidden;
    font-size: 0vh;
}

.mobile-menu-icon{
    display: none;
}

.fa-search {
    font-size: 18px;
    cursor: pointer;
    margin-left :-35px;
    color: grey;
}
.showdd{
    position: absolute;
    right: 9.5%;
    top: 8vh;
    z-index: 10;
    background-color:#96640d ;
    width: 70vw;
    max-width: 250px;
}
.showdd div{
    border: 1px solid black;
    padding: 4px;
    padding-left: 6px;
}
.showdd div:hover{
    background-color: #d4af37;
    transition: all 0.4s ease-out;
    cursor: pointer;
}
.showdd div img{
    height: 1.5rem;
    width: 50px;
}
.notlink{
    color: white;
    text-decoration: none;
}
.notlink:hover{
    color: black;
}
.hidedd{
    display: none;
}
@media screen and (max-width: 780px) {
    .logo{
        display: flex;
        position: absolute;
        top: 1vh;
        left: 0;
    }
    .nav-links{
        display: none;
    }    
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color:#96640d ;
        left: 0;
        top:7.6vh;
        transition: all 0.5s ease-out ;
        width: 100%;
        z-index: 10;
     }
     
    .profile,.notify,.cart,.logout{
        color: white;
        text-align: center;
        padding: 30px;
        width: 100%;
    }
    .moblink{
        visibility: visible;
        font-size: 2.1vh;
    }
    .logo{
        height: 7vh;
        width: 120px;
    }
    .profile:hover,.notify:hover,.cart:hover,.logout:hover{
        background-color: transparent;
        
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size:3.5vh;
        background-color: transparent;
        border: none;
        outline: none;
        top:1.7vh;
        right: 10px;
        color: white;
    }
    
    .fa-search {
        font-size: 18px;
        cursor: pointer;
        margin-left :-160px;
        color: grey;
      }
      .fa-times , .fa-bars{
        color: black;
      }
      .showdd{
        margin-left: 15vw;
        margin-right: auto;
        top: 22vh;
        background-color:#96640d;
    }
    
}