.catitems{
    color: white;
    padding-left: 10%;
}
.catitems h2{
    text-decoration: underline;
    padding: 10px;
}
.catitems h3{
    text-decoration-color: blue;
}
.catitems label{
    color: white;
}
.catitems label:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}