.catitems{
    color: white;
    padding-left: 10%;
}
.catitems h2{
    
    padding: 5%;
}
.catitems hr{
    
    margin-right: 10%;
}
.catitems h3{
   padding-left:15%;
   padding-top: 10px;
}
.catitems label{
    color: white;
}
.catitems label:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}