.forgotpass{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../imgs/background.png");
}

.fp{
  background-color: rgba(0, 0, 0, 0.75);
  width: 90vw;
  max-width: 500px;
  border-radius: 20px;position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.fpform{
  font-size: 16px;
  font-family: Arial;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.fpinput{
  font-size: 16px;
  height: 10vh;
  max-height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  margin: 2%;
  border: none;
  width: 95%;
}
.fplabel{
  font-size: 16px;
  margin: 20px;
  color: white;
}
.captcha{
    height: 7vh;
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    background-image: url("../../imgs/captcha.JPG");
    background-size: 100% 100%;
    text-align:center;
    padding-top: 10px;
    font-style:italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fpbutton {
    color: white;
    text-decoration: none;
    font-size: 18px;
    height: 10vh;
    max-height: 40px;
    width: 34vw;
    max-width: 215px;
    border-radius: 20px;
    margin: 5px;
    background-color: black;
    color: white;
  }
  .fpbutton:hover {
    background: linear-gradient(to right,#d4af37,#f9f095,#d4af37);
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
.reset{
  width: 50vw;
  max-width:440px;
}
.fa-sync-alt:hover{
  cursor: pointer;
}