.admin{
    display: flex;
    width: 100%;
    background-color: white;
}
.dashboard{
    padding-top:9vh;
    width: 15%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
}
.options {
    font-size: 18px;
    height: 10vh;
    max-height: 40px;
    width: 100%;
    max-width: 150px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    color: white;
    border:none;
}
.options:hover {
background: linear-gradient(to right,#d4af37,#f9f095,#d4af37);
color: black;
cursor: pointer;
font-weight: bold;
}
.adlo:hover{
    color: black;
    font-weight: bold;
}
#bg{
    display: block;
    height: 92vh;
    width: 85%;
    margin-top: 8vh;
    background-image: url("../imgs/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#bg,#products,#customers,#analytics{
    margin-left: 15%;
}
.logo1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top:20vh;
}
.adlo{
    color: white;
    text-decoration: none;
}