* {
    box-sizing: border-box;
  }
  
  .edprod {
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .ep{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 90vw;
    max-width: 500px;
    border-radius: 20px;
  }
  .epform{
    font-size: 16px;
    font-family: Arial;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .epinput{
      width:95%;
      font-size: 16px;
      font-family: Arial;
  height: 10vh;
  max-height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  margin: 2%;
  border: none;
  }
  .epta{
      height: 18vh;
  }
  .epinp2{
      width: 45%;
  }